
@font-face {
    font-family: Bangers;
    src: url(fonts/Bangers.ttf);
}

@font-face {
    font-family: Digital;
    src: url(fonts/digital-7.ttf);
}

body {
   margin:0px;
   padding:0px;

}

#container{
   width: 100%;
   height: 100%;
   display:none;
}
#game{
   width: 100%;
   height: 100%;
}

#Gamefront{
   background-color: rgb(102, 153, 255);
   padding: 5%;
   text-align: center;
      
}
#Gamefront #starter{
   font-family: "Bangers";
   font-size: 50px;
}
#Gamefront #taster{
   display:block;
   margin:0 auto;
}
#Gamefront #play{
   display:block;
   margin:0 auto;
   margin:20px;
}
#Gamefront #play img{
   cursor: pointer;
}
#Gamefront #board{
   min-width:75%;
   min-height: 400px;
   background-color: #333;
   margin: 0 auto;
   margin-top: 5%;
   color: #f0f0f0;
   font-family: "Digital";
   font-size: 50px;
   padding:5%;

}

#Gamefront .record{
   display: block;
   float: right;
}


#Gamefront ol, #Gamefront ul{
   margin-top: 50px;
   margin-bottom: 50px;
   text-align: left;
}

#Gamefront ul
{
    list-style-type: none;
}
